@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .write_lr{
        writing-mode: vertical-lr;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: vertical-lr;
    }
    .rotateY{
        transform: rotateY(180deg) ;
        -webkit-transform: rotateY(180deg) ;
        -moz-transform: rotateY(180deg) ;
        -ms-transform: rotateY(180deg) ;
        -o-transform: rotateY(180deg) ;
}
}

/* .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
     Center slide text vertically 
    display: flex;
    justify-content: center;
    align-items: center;
}
 */
#success {
    background-color: #4486ff;
    color: white;
  }
  #warning {
    background-color: #ff444a !important;
    color: white !important;
  }
  .Toastify__progress-bar {
    background: #fff;
  }

  .navbar .menu .item{
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    
}
  .navbar .menu .item::before{
    content: "";
    width: 0%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0%;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
  .navbar .menu .item:hover::before, .navbar .menu .item.active::before{
    content: "";
    width: 100%;
  }
  .navbar .menu .item:hover,  .navbar .menu .item.active{
    color: #fff;
  }

 .banner.swiper {
    width: 100px;
    height: 70vh;
  }

  @media screen and (max-width: 768px) {
    .banner.swiper {
      width: 100%;
      height: 100px;
    }
    
  }

  @media screen and (max-width: 1024px) {
    .product_cart{
      grid-column: 1 / -1 !important;
    }
  }
  
 .banner .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically  */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
 
 .banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.fadeOut{
  opacity: 0.6;
  animation: fadeOut 1s linear 1 forwards;
  -webkit-animation: fadeOut 1s linear 1 forwards;
}

@keyframes fadeOut {
  100%{
    opacity: 1;
  }
}